{% extends 'base.html' %}

{% block content %}
    {% if files %}
        <ul class="list-item">
            {% for file in files %}
                <li class="row-item">
                    <h3> {{ file.fileName }} </h3>
                    <p>{{ file.fileSize }}</p>
                    <p class="download"><a class="download-btn" href="{{ file.directUrl }}">DOWNLOAD</a> </p>
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <h1>No item found</h1>
    {% endif %}


{% endblock %}