{% extends 'base.html' %}
{% load static %}
{% block content %}
    <ul id="logoText">
        <li class="blue">G</li>
        <li class="red">d</li>
        <li class="yellow">r</li>
        <li class="blue">i</li>
        <li class="green">v</li>
        <li class="red">e</li>
        <li class="blue">H</li>
        <li class="red">u</li>
        <li class="yellow">b</li>
    </ul>
    <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">


        <form action="" method="post" class="indexForm ">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" class="form-control text-center" name="get_input"
                       placeholder="Enter links or file name here " required>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Go</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

