{% extends 'base.html' %}
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block content %}
    <ul id="logoText">
        <li class="blue">G</li>
        <li class="red">d</li>
        <li class="yellow">r</li>
        <li class="blue">i</li>
        <li class="green">v</li>
        <li class="red">e</li>
        <li class="blue">H</li>
        <li class="red">u</li>
        <li class="yellow">b</li>
    </ul>
    <form action="" method="post" class="indexForm">
        {% csrf_token %}
        {{ form }}
        {#        <input class="fsSubmitButton" type="submit" value="Submit">#}
    </form>
{% endblock %}

