{% extends 'base.html' %}


{% block content %}
    {% if sublist %}
        <p class="h2 m-auto text-primary pb-4 text-center ">Subscribed List</p>
        <ul class="list-group ">
            {% csrf_token %}
            {% for item in sublist %}
                <li class="list-group-item d-flex flex-row" id="li-{{ item.id }}">
                    <div class="col col-11 d-flex flex-column m-auto ">
                        <div class="col h5 text-break"><a href="{% url 'getById' item.originalID %}"
                                                          class="item-link text-decoration-none">{{ item }}</a></div>
                        <div class="file-size col text-muted text-sm-left">File size : {{ item.fileSize }}</div>
                    </div>
                    <div class="col col-1 d-flex m-auto border-primary">
                        <div class="delfile d-flex justify-content-end" itemid="{{ item.id }}"><i
                                class="fa fa-trash fa-1x"></i></div>
                    </div>

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2 class="h2">empty list</h2>
    {% endif %}
{% endblock %}