
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'GetLink/style.css' %}">

    <div class="container">
        <div class="navbar">
            <ul class="nav">
                <li class="row-item"><a href="{% url 'index' %}" class="row-item-link">HOME</a></li>
                <li class="row-item"><a href="{% url 'explorer' %} " class="row-item-link">EXPLORER</a></li>
            </ul>

        </div>



        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <div class="footer">
            <div class="footer_content"> Power by Django 3.0</div>
        </div>
    </div>