div.container{
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;

}


div.navbar{
    background-color: #bbbbbb;
    display: flex;
    justify-content: center;
}

ul.nav{
    display: flex;
    list-style-type: none;
}
li.row-item{
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
}

a.row-item-link{
    text-decoration: none;
    color: #0f0f0f;
    font-weight: bold;
}

div.content{
    display: flex;
    justify-content: center;
}
div.footer{
    display: flex;
    background-color: #bbbbbb;
    justify-content: center;
}
div.footer_content{
    padding: 20px;

}

ul.list-item{
    display: flex;
    list-style-type: none;
    background-color: #b9def0;
    border-radius: 10px;
    padding: 15px;

}
p.download{
    margin: 25px;
    text-align: center;
}
input.share-link{
    text-align: center;
}

a.download-btn{
    background-color: #5cb85c;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #2b542c;
    border-radius: 5px;
}

a.download-btn:hover{
    background-color: #2b542c;
    color: #5cb85c;
    transition-duration: 0.5s;
}