@import url(https://fonts.googleapis.com/css?family=Open+Sans);


#logoText {
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: 'Open Sans', Serif;
    font-weight: bolder;
    font-size: 3rem;
    flex-wrap: wrap;
}

li.red {
    color: #e4452d;
}

li.blue {
    color: #4887f8;
}

li.yellow {
    color: #f8bb00;
}

li.green {
    color: #44a84f;
}

.requiredField {
    display: none;
}

.helptext {
    display: none;
}

input#id_username {
    width: 100%;
}

input#id_email {
    width: 100%;
}

input#id_password1 {
    width: 100%;
}

input#id_password2 {
    width: 100%;
}
