@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body {
    background-color: #fafafa;
}


div.container {
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;

}


div.navbar {
    display: flex;
    justify-content: center;
}

ul.nav {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

li.row-item {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 21px -11px rgba(0, 0, 0, 0.33);
}

li.row-item-nav {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
}

li.row-item-nav:hover {
    background-color: #b9def0;
    border-radius: 10px;
    transition-duration: 0.8s;
}

li.row-item-nav:active {
    background-color: #b9def0;
    border-radius: 10px;
    transition-duration: 0.8s;
}

a.row-item-link {
    text-decoration: none;
    color: dodgerblue;
    font-weight: bold;
    word-wrap: break-word;
}


div.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div.footer {
    display: flex;
    justify-content: center;
}

div.footer_content {
    padding: 20px;

}

ul.list-item {
    display: flex;
    flex-direction: column;
    margin: auto;
    list-style-type: none;
    border-radius: 10px;
    padding: 15px;
    width: 60%;
}

p.download {
    margin: 25px;
    text-align: center;
}

input.share-link {
    text-align: center;
}

a.download-btn {
    background-color: #5cb85c;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #2b542c;
    border-radius: 5px;
}

a.download-btn:hover {
    background-color: #2b542c;
    color: #5cb85c;
    transition-duration: 0.5s;
}


a.add-list-btn {
    background-color: #5cb85c;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #2b542c;
    border-radius: 5px;
}

a.add-list-btn:hover {
    background-color: #2b542c;
    color: #5cb85c;
    transition-duration: 0.5s;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    flex-direction: column;
    text-align: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: auto; /* Could be more or less, depending on screen size */
    border-radius: 10px;
}

/* The Close Button */
/*.close {*/
/*    color: #aaa;*/
/*    font-size: 28px;*/
/*    font-weight: bold;*/
/*}*/

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form.indexForm {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
}

form.iForm {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    padding-top: 20%;
    padding-bottom: 15%;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
}


input.mainform {
    width: 60%;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    border: solid 1px #dfe1e5;
    outline: none;
    padding: 10px;
}

input.mainform:hover {
    box-shadow: 0 1px 6px 0 #d4d4d4;
    transition-duration: 0.2s;
}

.fsSubmitButton {
    border: solid 1px #dfe1e5;
    border-radius: 5px;
    outline: none;
    background-color: #f8f8f8;
    padding: 10px;
    margin: 10px;
    width: 90%;

}

.fsSubmitButton:hover {
    background-color: #d4d4d4;
    transition-duration: 0.5s;
    cursor: pointer;
}

#logoText {
    display: flex;
    margin: auto;
    padding-bottom: 20px;
    list-style: none;
    font-family: 'Open Sans', Serif;
    font-weight: bolder;
    font-size: 70px;
    flex-wrap: wrap;
}

form.registerform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10%;
    align-items: center;
}

span.helptext {
    padding: 10px;
}

li.red {
    color: #e4452d;
}

li.blue {
    color: #4887f8;
}

li.yellow {
    color: #f8bb00;
}

li.green {
    color: #44a84f;
}

.pop {
    display: none; /* Hidden by default */
    flex-direction: column;
    text-align: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.pop-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
}

span.close {
    display: flex;
    justify-content: flex-end;
}

label.label {
    padding: 10px;
}

input.newpw {
    margin: auto;
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: solid #bbbbbb 1px;
}

input.savepw {
    margin: auto;
    width: fit-content;
    margin-top: 10px;
    padding: 10px;
}

p.message {
    color: red;
}

div.login {
    display: flex;
    background-color: white;
    width: 20%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 21px -11px rgba(0, 0, 0, 0.33);
}

div.register {
    display: flex;
    background-color: white;
    width: 20%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 21px -11px rgba(0, 0, 0, 0.33);
}

a.btn-primary {
    display: flex;
    color: blue;
    cursor: pointer;
    background-color: #bbbbbb;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    margin-top: auto;
}

a.btn-primary:hover {
    background-color: #a9a9a9;
    transition-duration: 0.5s;
}

span.delete-sub-file {
    display: flex;
    justify-content: flex-end;
}

span.delete-sub-file:hover {
    cursor: pointer;
}

div.user-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

h2.h2 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border-top: solid black 1px;
}

div.btn-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 1000px) {
    form.iForm {
        width: 100%;
        margin: auto;
    }

    form.indexForm {
        width: 100%;
        margin: auto;
    }

    input.mainform {
        width: 80%;
    }

    input.fsSubmitButton {

    }

    div.login {
        width: 70%;
    }

    div.register {
        width: 70%;
    }

    a.row-item-link {
        font-size: 4vw;
    }

    div.btn-area {
        flex-direction: column;
    }

    ul.list-item {
        width: 100%;
    }

    p#username {
        font-size: 4vw;
    }

    p#email {
        font-size: 4vw;
    }

    a.btn-primary {
        font-size: 4vw;
    }

    div.pop-content {
        width: 90%;
    }

    input#newpw1 {
        height: 50px;
    }

    input#newpw2 {
        height: 50px;
    }

    label.label {
        font-size: 4vw;
    }
}

#user-link {
    padding: 6px;
    flex-wrap: wrap;
}

h3.item-title {
    color: dodgerblue;
    word-wrap: break-word;
}

input#username {
    margin: 10px;
    width: 90%;
    padding: 10px;
    border: solid #bbbbbb 1px;
    border-radius: 5px;
}

input#password {
    margin: 10px;
    width: 90%;
    padding: 10px;
    border: solid #bbbbbb 1px;
    border-radius: 5px;
}

span.helptext {
    font-size: small;
}

input#id_username {
    padding: 5px;
    border-radius: 5px;
    border: solid #bbbbbb 1px;
    width: 90%;
}

input#id_password1 {
    padding: 5px;
    border-radius: 5px;
    border: solid #bbbbbb 1px;
    width: 90%;
}

input#id_password2 {
    padding: 5px;
    border-radius: 5px;
    border: solid #bbbbbb 1px;
    width: 90%;
}

input#id_email {
    padding: 5px;
    border-radius: 5px;
    border: solid #bbbbbb 1px;
    width: 90%;
}


